<ul>
	{{#each events}}
			<a href="/event/{{this._id}}"><li class="event">{{ this.title }}<aside><a href="/editEventForm/{{this._id}}" title="Edit" class="fa fa-pencil"></a> <a onclick='deleteEvent("{{this._id}}","{{this.title}}")' href="javascript:void(0);" title="Delete" class="fa fa-close "></a></aside></li></a>
	{{/each}}
</ul>