<div class="row">
	<div class="dateAndEvents">
		<h3>Events For {{getDayOfWeek month day year}}, {{monthToString month}} {{day}}</h3>
		<hr>
		<div class="events">
			{{>eventList events=(getEvents month day year)}}

			<!-- Test Input -->
			<ul>
				<li>Event 1</li>
				<li>Event 2</li>
				<li>Event 3</li>
				<li>Event 4</li>
			</ul>

			  <a href="/addEventForm/{{month}}/{{year}}/{{day}}" class="btn green"><i class="fa fa-plus" style="padding-right: 7px;"></i> Create Event</a>
		</div>
	</div>

	<div class="dateAndInfo">
		<aside>
			<p>This {{getDayOfWeek month day year}} is the {{dayOfTheYear month day year}}th day of the year.</p>
			<p>There are {{daysLeftInYear month day year}} day(s) left in {{year}}</p>
		</aside>
	</div>

	<div class="nearbyDays">
		<div class="nearby-day"><a href="#" id="prev"><aside class="prev">&#10094;</aside></a></div>
			<div class= "nearby-day"> 
				{{#with (dayBefore month day year 2)}}
					{{month}}/{{day}}
				{{/with}}
			</div>
			<div class= "nearby-day"> 
				{{#with (dayBefore month day year 1)}}
					{{month}}/{{day}}
				{{/with}}
			</div>
			<div class= "nearby-day"> 
				{{add month 1}}/{{day}}
			</div>
			<div class= "nearby-day"> 
				{{#with (dayAfter month day year 1)}}
					{{month}}/{{day}}
				{{/with}}
			</div>
			<div class= "nearby-day"> 
				{{#with (dayAfter month day year 2)}}
					{{month}}/{{day}}
				{{/with}}
			</div>

		<div class="nearby-day"><a href="#" id="next"><aside class="next">&#10095;</aside></a></div>
	    
	</div>
	<div class="nearByDays-mobile">
		<div class="nearby-day"><a href="#" id="prev"><aside class="prev">&#10094;</aside></a></div>
			<div class="nearby-day"> {{month}}/{{day}}</div>
		<div class="nearby-day"><a href="#" id="next"><aside class="next">&#10095;</aside></a></div>
	</div>
</div>