<div class="row">
	<div class="dateAndEvents">
		<h3>Events For {{getDayOfWeek month day year}}, {{monthToString month}} {{day}}</h3>
		<hr>
		<div class="events">
			{{>eventList events=(getEvents month day year)}}

			<!-- Test Input -->
			<ul>
				<li>Event 1</li>
				<li>Event 2</li>
				<li>Event 3</li>
				<li>Event 4</li>
			</ul>

			  <form method="post" action="/addEventForm" id="create-form">
 					<button type="submit" id="myBtn" class="btn"><i class="fa fa-plus" style="padding-right: 7px;"></i>Create Event</button>
 					<button id="myBtn" class="btn"><a href="/">Back</a></button>
			  </form>
		</div>
	</div>

	<div class="dateAndInfo">
		<aside>
			<p>This {{getDayOfWeek month day year}} is the {{dayOfTheYear month day year}}th day of the year.</p>
			<p>There are {{daysLeftInYear month day year}} day(s) left in {{year}}</p>
		</aside>
	</div>

	<div class="nearbyDays">
		<div class="nearby-day"><a href="#" id="prev"><aside class="prev">&#10094;</aside></a></div>
			<!--
			{{#each nearbyDates}}
				<div class="date"> {{this.month}} / {{this.day}} </div>
			{{/each}}
			-->

			<!-- Test Input -->
			<div class= "nearby-day"> 22/20 </div>
			<div class= "nearby-day"> 22/21 </div>
			<div class= "nearby-day"> 22/22 </div>
			<div class= "nearby-day"> 22/23 </div>
			<div class= "nearby-day"> 22/24 </div>

		<div class="nearby-day"><a href="#" id="next"><aside class="next">&#10095;</aside></a></div>
	    
	</div>
	<div class="nearByDays-mobile">
		<div class="nearby-day"><a href="#" id="prev"><aside class="prev">&#10094;</aside></a></div>
			<div class="nearby-day"> {{month}}/{{day}}</div>
		<div class="nearby-day"><a href="#" id="next"><aside class="next">&#10095;</aside></a></div>
	</div>
</div>