<div class="row">
	<div class="dateAndEvents"
		<h3>Events For {{getDayOfWeek month day year}}, {{monthToString month}} {{day}}</h3>
		<hr/>
		<div class="events">
			<ul>
			{{#each events}}
				<li> Event {{this}} </li>
			{{/each}}
			</ul>
		<button onClick="javascript: showModal();" id="myBtn" class="btn"><i class="fa fa-plus" style="padding-right: 7px;"></i> Create Event</button>
		</div>
	</div>

	<div class="dateAndInfo">
		<aside>
			<p>This {{getDayOfWeek month day year}} is the {{dayOfTheYear month day year}}th day of the year.</p>
			<p>There are {{daysLeftInYear month day year}}s left in {{year}}</p>
		</aside>
	</div>

	<div class="nearbyDays">
		<div class="leftArrow"><a href="LINK TO PREVIOUS 5 DAYS"><img src="LINK TO LEFT ARROW"></a></div>
		<div class="dates">
			{{#each nearbyDates}}
				<div class="date"> {{month}} / {{day}} </div>
			{{/each}}
		</dates>
		<div class="rightArrow"><a href="LINK TO NEXT 5 DAYS"><img src="LINK TO RIGHT ARROW"></a></div>
	</div>
</div>