<section class="row" style="margin-bottom: 15px;">
    <form method="post" action="/addEventForm" id="create-form">
        <button type="submit" id="myBtn" class="btn green"><i class="fa fa-plus" style="padding-right: 7px;"></i> Create Event</button>
    </form>
</section>

<div class="row">
	<div class="month"> 
	    <a href="#" id="prev"><aside class="prev">&#10094;</aside></a>
	    <a href="#" id="next"><aside class="next">&#10095;</aside></a>
	    <span class="cal-title">
	      {{ monthToString month }} {{{ year }}}
	    </span>
	</div>

	<div class="calendar weekdays">
	  <div class="weekday-header">Sun</div>
	  <div class="weekday-header">Mon</div>
	  <div class="weekday-header">Tues</div>
	  <div class="weekday-header">Wed</div>
	  <div class="weekday-header">Thurs</div>
	  <div class="weekday-header">Fri</div>
	  <div class="weekday-header">Sat</div>
	</div>

	<div class="calendar"> 
	  {{#days}}
	  		<div class="day {{#unless this }} null-value {{/unless}}">
	  			<a href="/view/{{ ../month}}/{{ ../year}}/{{this}}">
			  		<aside class="date-label">
			  			<div class="dayOfWeek">
			  				{{ getDayOfWeek ../month this ../year }}
			  			</div>
			  			{{this}}
			  		</aside>
			  			{{>eventList events=(getEvents ../month this ../year)}}
		  		</a>
	  		</div>
	  {{/days}}
	  </div>
</div>